:root {
 --main-red: #bb0303;
 --dark-gray: rgb(255, 255, 255, 0.1);
}

body {
 background-color: black;
 color: white;
 font-family: "Ubuntu", sans-serif;
 text-align: center;
}

a {
 text-decoration: none;
 color: var(--main-red);
 transition: 200ms all ease-in-out;
}

a:hover {
 color: white;
}

.border-link {
 color: white;
 font-size: 20px;
 font-weight: 400;
 margin: 10px;
 max-width: fit-content;
 background-color: var(--dark-gray);
 padding: 10px 15px;
 border: 3px inset var(--main-red);
 border-radius: 7px;
}

.border-link:hover {
 color: var(--main-red);
 border: 3px outset var(--main-red);
}

footer {
 margin-top: 200px;
 padding-bottom: 10px;
 background-color: #1c1e1f;
 border-top: 1px solid #383d3f;
}

footer i {
 padding: 10px;
 border: 1px solid var(--main-red);
 border-radius: 40px;
}

footer i:hover {
 color: white;
 border-color: white;
}

footer section {
 font-size: 30px;
}

h1 {
 font-size: 100px;

 letter-spacing: 2px;
 color: var(--main-red);
}

h1,
h2 {
 font-family: "Josefin Sans", sans-serif;
 font-weight: 400;
}

h2 {
 color: var(--main-red);
 font-size: 60px;
}

h3 {
 font-size: 40px;
 font-weight: 300;
 opacity: 0.8;
}

header {
 padding: 100px 0px;
}

header section {
 margin-top: 40px;
}

i {
 color: var(--main-red);
 transition: 200ms all ease-in-out;
}

img {
 border-radius: 5px;
 margin-bottom: 20px;
 border: 5px double white;
 width: 75%;
}

.logo {
 font-size: 30px;
 font-weight: 200;
 color: var(--main-red);
 margin: 0px 20px;
 padding: 0px 10px;
 border: 3px inset var(--main-red);
}

nav {
 background-color: #1c1e1f;
 margin: 0px;
 padding: 10px;
 line-height: 50px;
 justify-content: space-between;
 border-bottom: 1px solid #383d3f;
}

nav ul {
 margin: 0px;
}

nav li {
 display: inline;
 margin: 10px;
 font-size: 20px;
}

nav a {
 color: white;
}

nav a:hover,
nav a.active {
 color: var(--main-red);
}

p {
 font-size: 20px;
 opacity: 0.9;
 line-height: 1.3;
}

ul {
 list-style: none;
 padding-inline-start: 0px;
}

@media (max-width: 576px) {
 .header {
  padding-top: 50px;
 }
 h1 {
  font-size: 60px;
 }
 h1 small {
  font-size: 40px;
 }
 h3 {
  font-size: 30px;
 }
 .launch-links {
  margin-bottom: 50px;
 }
 .navigation-links a,
 .launch-links a {
  display: flex;
  justify-content: center;
 }
 nav {
  justify-content: center;
 }
 nav li {
  font-size: 15px;
  margin: 5px;
 }
 .logo {
  margin: 0px 5px 0px 0px;
 }
 .project-img {
  width: 100%;
 }
}
