body {
 text-align: center;
}

#first-row {
 margin-top: 120px;
}

h2 {
 margin-bottom: 15px;
}

img {
 border: 5px double white;
 width: 75%;
}

i:first-child {
 font-size: 50px;
}

main section {
 margin-bottom: 100px;
}

main section a {
 color: white;
 font-size: 20px;
 background-color: var(--dark-gray);
 padding: 5px 10px;
 border: 3px inset var(--main-red);
 border-radius: 7px;
 margin: 10px;
}

main section a:hover {
 color: var(--main-red);
 border: 3px outset var(--main-red);
}

p {
 opacity: 0.7;
 font-size: 18px;
}
